<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
      <appSettings>
        <!--Database connection string-->
        <!--<add key="DBConStr" value="Data Source=.\GBB;database=AOSmith_GBB;User id=sa; Password=ide123$%^;"/>-->
        
        <add key="DBConStr" value="Data Source=.\SQLEXPRESS;database=AOSmith_GBB;User id=sa; Password=ide123$%^;"/>

        <add key="TestDBConStr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\AO SMITH\DATABASE\aodata.mdb&quot;"/>



        <!--response timeout in milliseconds-->
        <add key="ResponseTimeout" value="100"/>

        <add key="MODE" value="MASTER"/>

        <!--Communication Layers-->
        <add key="COM_LAYERS" value="RS485"/>

        <!-- Controller port settings-->
        <add key="PORT" value="COM1"/>
        
        <!-- F2 scanner serial port settings-->
        <add key="BCPORT" value="COM7"/>
        
        <!-- F3 scanner serial port settings -->
        <add key="CSPORT" value="COM4"/>  
        
        <!-- Test Jig Port -->
        <add key="TESTJIGPORT" value="COM8"/>

        <add key="SleepOnWrite" value="1"/>

        <!--Response Packet Fields-->
        <add key="RESPONSE_PACKET_FIELDS" value="DEPARTMENT"/>
        
        <!--Template Directory Path-->
        <add key="TEMPLATE_PATH" value="D:\AOSmithWaterTreatment_GBB\BarCodeTemplates\"/>

        <!--MainBody Barcode Template path-->
        <add key="M1_BARCODE_TEMPLATE" value="D:\AOSmithWaterTreatment_Software\BarCodeTemplates\M1.prn"/>


        <!-- Dummy MainBody Barcode Template path-->
        <add key="DUMMY_M1_BARCODE_TEMPLATE" value="D:\AOSmithWaterTreatment_Software\BarCodeTemplates.prn"/>


        <!--MainFrame Barcode Template path-->
        <add key="F1_BARCODE_TEMPLATE" value="D:\AOSmithWaterTreatment_GBB\BarCodeTemplates\F1.prn"/>

        <!--MainFrame Barcode Template path-->
        <add key="DUMMY_F1_BARCODE_TEMPLATE" value="D:\AOSmithWaterTreatment_Software\BarCodeTemplates\DummyF1.prn"/>


        <!--Integrated Barcode Template path-->
        <add key="INTEGRATED_BARCODE_TEMPLATE" value="D:\AOSmithWaterTreatment_Software\BarCodeTemplates\Integrated.prn"/>

        <!--Integrated Barcode Template path-->
        <add key="DUMMY_INTEGRATED_BARCODE_TEMPLATE" value="D:\AOSmithWaterTreatment_Software\BarCodeTemplates\DummyIntegrated.prn"/>


        <!--Combinatin Barcode Template path-->
        <add key="CS_BARCODE_TEMPLATE" value="D:\AOSmithWaterTreatment_Software\BarCodeTemplates\CS.prn"/>
        
        <!--F1 Printer IP Address-->
        <add key="F1_PRINTER_IP" value="172.20.241.203"/>
        
        <!--M1 Printer IP Address-->
        <add key="M1_PRINTER_IP" value="172.20.241.195"/> 
        
        <!--F2 Printer IP Address-->
        <add key="TOK_PRINTER_IP" value="172.20.241.196"/>
        

        <!--PLC IP Address-->
        <add key="PLC_IP" value="172.20.241.201"/>
        
        
      
        <!--Combination Printer Name-->
        <add key="COMBINATION_BARCODE_PRINTER_NAME" value="GBB_CS"/>
        
        <!--Printer Port-->
        <add key="PRINTER_PORT" value="9100"/>


        <!--SIMULATION-->
        <add key="CONTROLLER_SIMULATION" value="Yes"/>

        <add key="SIMULATION" value="Yes"/>



        <!--SCANNER SIMULATION-->
        <add key="SCANNER_SIMULATION" value="Yes"/>


        <!--PRINTER SIMULATION-->
        <add key="PRINTER_SIMULATION" value="Yes"/>

        <!--ASSOCIATION TIMEOUT-->
        <add key="ASSOCIATION_TIMEOUT" value="500"/>
        
         <add key="TEST_TIMEOUT" value="45000"/>
        



      </appSettings>

</configuration>
